In [1]:
list1=[1,2,3,4,5,6,7,8,9]#creating a list for integers
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list2=["Nato","Joel","Angela","Debra"]#creating a list for sttrings
print(list2)

['Nato', 'Joel', 'Angela', 'Debra']

In [3]:
list3=["Debra",1,2,True,False]#list including boolean,integers and strings
print(list3)

['Debra', 1, 2, True, False]

In [4]:
list3.append("orange")#appending-adding an item-item automatically adds as the last index
print(list3)

['Debra', 1, 2, True, False, 'orange']

In [5]:
list1.insert(0,10)#insert-inserting items on a list-you need to specify the index
print(list1)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list1.extend(list2)#adding a list to a list
print(list1)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Nato', 'Joel', 'Angela', 'Debra']

In [7]:
list3.extend("BMW")#logical error
print(list3)

['Debra', 1, 2, True, False, 'orange', 'B', 'M', 'W']

In [8]:
list3.pop()
print(list3)

['Debra', 1, 2, True, False, 'orange', 'B', 'M']

In [9]:
list3.remove(1)#you specify what you want to remove
print(list3)

['Debra', 2, True, False, 'orange', 'B', 'M']

In [10]:
list2.clear()
print(list2)

[]

In [11]:
list4=["Nato","Joel","Angela","Debra"]
print(list4)

['Nato', 'Joel', 'Angela', 'Debra']

In [12]:
list4.sort()#it will arrange in ascending order by default
print(list4)

['Angela', 'Debra', 'Joel', 'Nato']

In [13]:
list4.sort(reverse=True)#it will arrange in ascending order by default
print(list4)

['Nato', 'Joel', 'Debra', 'Angela']

In [14]:
list5=[4,6,2,5,9,3]
print(list5)

[4, 6, 2, 5, 9, 3]

In [15]:
list5.sort()#ascending
print(list5)

[2, 3, 4, 5, 6, 9]

In [16]:
list5.sort(reverse=True)#descending
print(list5)

[9, 6, 5, 4, 3, 2]

In [17]:
list5.sort(reverse=False)#ascending
print(list5)

[2, 3, 4, 5, 6, 9]

In [18]:
list5.reverse()#inareverse output ya line ya juu
print(list5)

[9, 6, 5, 4, 3, 2]

In [19]:
list6=["orange","mango","tomato","apple","kiwi"]
print(list6)
print(list6[0])#accessing index 0
print(list6[0:4])#index 4 will be excluded
print(list6[1:5])
print(list6[1:])
print(list6[0:3])#itafika tomato
print(list6[:3])#start to tomato

['orange', 'mango', 'tomato', 'apple', 'kiwi']
orange
['orange', 'mango', 'tomato', 'apple']
['mango', 'tomato', 'apple', 'kiwi']
['mango', 'tomato', 'apple', 'kiwi']
['orange', 'mango', 'tomato']
['orange', 'mango', 'tomato']

In [20]:
list7=[1,2,3,4,5]
print(list7)
print(list7[0])#accessing index 0
print(list7[0:4])#index 4 will be excluded
print(list7[1:5])
print(list7[1:])
print(list7[0:3])#itafika tomato
print(list7[:3])#start to tomato
print(list7[0:5:2])#in an interval of 2
print(list7[-1])
print(list7[-3:-1])
print(list7[::-1])#inareverse

[1, 2, 3, 4, 5]
1
[1, 2, 3, 4]
[2, 3, 4, 5]
[2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3]
[1, 3, 5]
5
[3, 4]
[5, 4, 3, 2, 1]