In [ ]:
#-----------LOOPS-----------

In [ ]:
count=0
while count<5:
 print(count)
 count=count+1

0
1
2
3
4

In [ ]:
cities=["New York","London","Paris"]
for city in cities:
    print(city)

New York
London
Paris

In [ ]:
for i in range (10): # using a range of numbers
 print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
name = 'university' # using a string
for letter in name:
 print(letter)

u
n
i
v
e
r
s
i
t
y

In [ ]:
animals = ('lion', 'buffalo', 'hippo') # using a Tuple
for animal in animals:
 print(animal)

lion
buffalo
hippo

In [ ]:
num=1
while num !=0:
 print (str(num) + " squared = "+ str(num*num))
 num= int(input("Enter a number : "))
else:
 print (" Number Zero Entered. STOP")

1 squared = 1
Enter a number : 3
3 squared = 9
Enter a number : 3
3 squared = 9
Enter a number : 0
 Number Zero Entered. STOP

In [ ]:
numbers = [2, 4, 6, 8, 10]
search = 7

for num in numbers:
    if num == search:
        print("Number found:", num)
        break
else:
    print("Number not found in the list")

Number not found in the list

NESTED LOOPS

In [ ]:
for i in range(1,6):
 for j in range(1,6):
  k=i*j
  print (k, end='\t')
 print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [ ]:
#printing a triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
 for j in range(1,i+1):
  print("*",end="")
 print()

Enter the number of rows:5
*
**
***
****
*****

In [ ]:
#printing an upside down triangle
rows=int(input("Enter the number of rows:"))
for i in range(rows,0,-1):#range(start,stop,update)
  for j in range(1,i+1):
    print("*", end="")
  print()

Enter the number of rows:5
*****
****
***
**
*

In [ ]:
#spaced right angled triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<=rows-i:
      print(" ",end="")
    else:
      print("*",end="")
  print()

Enter the number of rows:5
    *
   **
  ***
 ****
*****

In [ ]:
#inverted spaced right angled triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<i:
      print(" ",end="")
    else:
      print("*",end="")
  print()

Enter the number of rows:5
*****
 ****
  ***
   **
    *

In [ ]:
#upside down triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<i:
      print(" ",end="")
    else:
      print("* ",end="")
  print()

Enter the number of rows:5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<=rows-i:
      print(" ",end="")
    else:
      print("* ",end="")
  print()

Enter the number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):

    # Spaces
    for s in range(rows - i):
        print(" ", end="")

    # Stars
    for star in range(2 * i - 1):
        print("*", end="")

    print()

Enter number of rows: 5
    *
   ***
  *****
 *******
*********

In [ ]:
rows = int(input("Enter number of rows: "))

# Upper pyramid
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

# Lower inverted pyramid
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2*i - 1))

Enter number of rows: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

LOOP CONTROL STATEMENTS

In [ ]:
#break statement
name = 'university'
for letter in name:
 if letter=='r':
  break
 print(letter)

u
n
i
v
e

In [ ]:
num = 0
while num<10:
 if num==6:
  break
 print(num*num)
 num+=1

0
1
4
9
16
25

In [ ]:
#continue statement
name = 'university'
for letter in name:
 if letter=='r':
  continue
 print(letter)

u
n
i
v
e
s
i
t
y

In [ ]:
#pass statement
for letter in 'university':
 if (letter == 'v'):
  pass
 print (letter)

u
n
i
v
e
r
s
i
t
y

In [1]:
age = 15

if age >= 18:
    print("You are an adult")
else:
    pass  # Still thinking what to do for minors

In [ ]:
#iterator
fruits = ('avocado', 'beetroot', 'berries')
myiter = iter(fruits)
print(next(myiter))
print(next(myiter))
print(next(myiter))

avocado
beetroot
berries

In [3]:
#generator
square = (x ** 2 for x in range(5))

print(next(square))
print(next(square))
print(next(square))
print(next(square))
print(next(square))

0
1
4
9
16

In [4]:
def squares(n):  # generator function
    counter = 0
    while True:
        if counter > n:
            return
        yield counter ** 2
        counter += 1

sqr = squares(5)

while True:
    try:
        print(next(sqr))
    except StopIteration:
        break

0
1
4
9
16
25

In [ ]:
cars = ["Porsche","BMW","Audi"]
trending=[]
for c in cars:
  if c=="BMW" or c=="Audi":
    trending.append(c)
print(trending)

['BMW', 'Audi']