In [1]:
#-----------LOOPS-----------

In [2]:
count=0
while count<5:
 print(count)
 count=count+1

0
1
2
3
4

In [3]:
cities=["New York","London","Paris"]
for city in cities:
    print(city)

New York
London
Paris

In [4]:
for i in range (10): # using a range of numbers
 print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
name = 'university' # using a string
for letter in name:
 print(letter)

u
n
i
v
e
r
s
i
t
y

In [6]:
animals = ('lion', 'buffalo', 'hippo') # using a Tuple
for animal in animals:
 print(animal)

lion
buffalo
hippo

In [7]:
num=1
while num !=0:
 print (str(num) + " squared = "+ str(num*num))
 num= int(input("Enter a number : "))
else:
 print (" Number Zero Entered. STOP")

1 squared = 1
Enter a number : 5
5 squared = 25
Enter a number : 0
 Number Zero Entered. STOP

In [8]:
numbers = [2, 4, 6, 8, 10]
search = 7

for num in numbers:
    if num == search:
        print("Number found:", num)
        break
else:
    print("Number not found in the list")

Number not found in the list

NESTED LOOPS

In [9]:
for i in range(1,6):
 for j in range(1,6):
  k=i*j
 print (k, end='\t')
 print()

5
10
15
20
25

In [10]:
#printing a triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
 for j in range(1,i+1):
  print("*",end="")
 print()

Enter the number of rows:5
*
**
***
****
*****

In [11]:
#printing an upside down triangle
rows=int(input("Enter the number of rows:"))
for i in range(rows,0,-1):#range(start,stop,update)
  for j in range(1,i+1):
    print("*", end="")
  print()

Enter the number of rows:5
*****
****
***
**
*

In [36]:
#spaced right angled triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<=rows-i:
      print(" ",end="")
    else:
      print("*",end="")
  print()

Enter the number of rows:5
    *
   **
  ***
 ****
*****

In [38]:
#inverted spaced right angled triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<i:
      print(" ",end="")
    else:
      print("*",end="")
  print()

Enter the number of rows:5
*****
 ****
  ***
   **
    *

In [40]:
#upside down triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<i:
      print(" ",end="")
    else:
      print("* ",end="")
  print()

Enter the number of rows:5
* * * * *
 * * * *
  * * *
   * *
    *

In [41]:
#triangle
rows=int(input("Enter the number of rows:"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j<=rows-i:
      print(" ",end="")
    else:
      print("* ",end="")
  print()

Enter the number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

In [42]:
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):

    # Spaces
    for s in range(rows - i):
        print(" ", end="")

    # Stars
    for star in range(2 * i - 1):
        print("*", end="")

    print()

Enter number of rows: 5
    *
   ***
  *****
 *******
*********

In [43]:
rows = int(input("Enter number of rows: "))

# Upper pyramid
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

# Lower inverted pyramid
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2*i - 1))

Enter number of rows: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

LOOP CONTROL STATEMENTS

In [13]:
#break statement
name = 'university'
for letter in name:
 if letter=='r':
  break
 print(letter)

u
n
i
v
e

In [14]:
num = 0
while num<10:
 if num==6:
  break
 print(num*num)
 num+=1

0
1
4
9
16
25

In [15]:
#continue statement
name = 'university'
for letter in name:
 if letter=='r':
  continue
 print(letter)

u
n
i
v
e
s
i
t
y

In [16]:
#pass statement
for letter in 'university':
 if (letter == 'v'):
  pass
 print (letter)

u
n
i
v
e
r
s
i
t
y

In [17]:
fruits = ('avocado', 'beetroot', 'berries')
myiter = iter(fruits)
print(next(myiter))
print(next(myiter))
print(next(myiter))

avocado
beetroot
berries

In [18]:
cars = ["Porsche","BMW","Audi"]
trending=[]
for c in cars:
  if c=="BMW" or c=="Audi":
    trending.append(c)
print(trending)

['BMW', 'Audi']